:root {
  --main-color: #f92524;
  --headings-color: #181818;
  --paragraphs-color: #7a839e;
  --container: 78%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    text-transform: capitalize;
}
header, main{
    width: var(--container);
    margin: 0 auto;
}
header{
    margin-top: 30px;
}
.header-divider{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.logo-background{
    background-image: url(./images/top-left--bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 600px;
    height: 570px;
    display: inline-block;
    position: absolute;
    left: -100px;
    top: -250px;
    z-index: -100000;
}
.logo_name{
    display: flex;
    align-items: center;
}
.header-divider h1{
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px;
}
#head_logo{
    width: 90px;
    height: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100%;
}
nav ul li{
    text-transform: capitalize;
}
nav ul li a{
    font-size: 0.9em;
    font-weight: 300;
}
h1, h2, h3, h4{
    text-transform: capitalize;
    color: var(--headings-color);
}
.red-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 5px;
    border: none;
    padding-right: 15px;
    font-size: 1em;
    cursor: pointer;
}
.nav-bar--item {
    display: inline-block;
    position: relative;
    color: var(--paragraphs-color);
}
.nav-bar--item::after {
    content: '';
    position: absolute;
    width: 110%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--main-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.nav-bar--item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.top-main{
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
}
.top-main--text{
    width: 45%;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);

}
#top-main_third-heading{
    font-weight: 300;
    font-size: 2em;
}
.top-main--text h2{
    font-weight: 700;
    font-size: 3.6em;
    line-height: 1;
    margin-bottom: 15px;
}
.red-hr{
    height: 3px;
    width: 80px;
    background-color: var(--main-color);
    border: none;
    margin-bottom: 10px;
}
.top-main--text p{
    font-size: 0.7em;
    font-weight: 300;
    color: var(--paragraphs-color);
    margin-bottom: 25px;
}
.top-main--text button{
    border: none;
    display: flex;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
.top-main--text button div{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.top-main--text button span{
    background-color: #E91B1A;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.top-main--text button span>img{
    width: 20px;
    height: auto;
}
.happy-girl{
    width: 700px;
    height: auto;
    position: absolute;
    top: 180px;
    right: -75px;
    z-index: 10000;
}
.top-circle{
    width: 500px;
    height: auto;
    position: absolute;
    top: 115px;
    right: -65px;
    z-index: 100;
}
.right-bottom-circle{
    width: 100px;
    height: auto;
    position: absolute;
    top: 690px;
    right: 20px;
    z-index: 10;
}
.left-bottom-circle{
    width: 100px;
    height: auto;
    position: absolute;
    top: 780px;
    right: 515px;
    z-index: -100;
}
.left-photo-circle{
    width: 350px;
    height: auto;
    position: absolute;
    top: 390px;
    right: 315px;
    z-index: -100;
}
.top-main_shumepikeshi-gri{
    width: 350px;
    height: auto;
    position: absolute;
    top: 400px;
    right: 380px;
    z-index: -1000;
}
#our-story{
    height: 100vh;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}
.hot-athlete-bg{
    position: absolute;
    left: -25px;
    width: 560px;
    height: auto;
    z-index: -1;
}
.our-story_photos{
    display: inline-block;
    margin-top: 150px;
    width: 50%;
    height: 100%;
    position: relative;
}
.our-story_shumepikeshi-gri{
    width: 320px;
    height: auto;
    position: absolute;
    left: 140px;
    top: 100px;
    z-index: -1111111111111111;
    
}
.hot-athlete{
    width: 500px;
    height: auto;
}
.about-us{
    width: 50%;
}
h3{
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 15px;
}
p{
    color: var(--paragraphs-color);
    font-size: 0.8em;
    font-weight: 300;
}
.characteristics{
    display: grid;
    grid-template-columns: 0.8fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 200px;
    width: 100%;
    justify-self: center;
    grid-gap: 20px;
    grid-row-gap: 40px;
    margin-top: 40px;
}
.characteristics img{
    width: 80px;
}
.characteristics-dsp h4{
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 1.1em;
}
.slider-controller{
    padding-top: 50px;
    position: relative;
}
.slider-controller div{
    display: flex;
    justify-content: space-between;
}
.slider-controller div>ul.filter-bar{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
}
.filter-bar_item{
    display: inline-flex;
    position: relative;
    color: var(--headings-color);
    background: transparent;
    border: none;
}
.active-filter{
    /* border-bottom: 2px solid var(--main-color); */
    color: var(--main-color);
} 
.filter-bar_item::after{
    content: '';
    position: absolute;
    width: 130%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: -5px;
    background-color: var(--main-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.filter-bar_item:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.filter-bar li img{
    cursor: pointer;
}
/* .filter-bar li img:hover{
    trans
} */
.slider-controller div>ul li img{
    height: 20px;
    width: auto;
}
.backdrop{
    display: none;
    position: fixed;
    z-index: 111111111;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--paragraphs-color);
    opacity: 75%;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1000000000000000;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 20%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.modal_title{
    text-align: center;
    margin: 0 0 1rem 0;
}
.modal_actions{
    text-align: center;
}
.modal_action{
    border: 2px solid var(--paragraphs-color);
    background: var(--paragraphs-color);
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}
.modal_action:hover,
.modal_action:active{
    background: var(--main-color);
    border-color: var(--main-color);
    color: white;
}
.modal_action--negative{
    border-width: 1.5px;
    background: transparent;
    border-color: var(--paragraphs-color);
    color: var(--headings-color);
}


section.slider{
    display: grid;
    margin: 10em 0 ;
    margin-left: calc(1 / 2 * (100% - var(--container)));
    justify-content: space-between;
    grid-template-columns: repeat(10, 19vw);
    grid-template-rows: 25rem;
    grid-column-gap: 2vw;
}
.classes{
    position: relative;
}
.slider-item{
    cursor: pointer;
}
.slider-item:hover{
    transform: translateY(-7%);
    box-shadow: 0 12px 10px rgba(238,161,161,76%);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-property: all;
}
#our-classes-bg{
    position: absolute;
    right: -10px;
    z-index: -11111111111111;
    top: -270px;
    width: 55vw;
    height: auto;
}
#slider_shumepikeshi-gri{
    left: -2.5em;
    bottom: -3em;
    position: absolute;
    width: 15em;
    height: auto;
    z-index: -1111;
}
#slider_shumepikeshi-kuq{
    position: absolute;
    right: 25.5em;
    top: -5em;
    width: 15em;
    height: auto;
    z-index: -1111;
}
.builder-man, .builder-woman{
    position: relative;
    border-radius: 5px;
}

.slider-item_bottom{
    position: absolute;
    background-color: var(--main-color);
    bottom: 0;
    width: 100%;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.slider-item_bottom h4{
    font-weight: 400;
    color: #fff;
}
.slider-item_bottom p{
    display: flex;
    align-items: center;
    color: #fff;
}
.builders{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#builder-man1{
    background-image: url(./images/bodybuilding1.png);
}
#builder-woman1{
    background-image: url(./images/bodybuilding2.png);
}
#builder-man2{
    background-image: url(./images/bodybuilding3.png);
}
#builder-woman2{
    background-image: url(./images/bodybuilding4.png);
}
#builder-man3{
    background-image: url(./images/bodybuilding5.png);
}
#builder-woman3{
    background-image: url(./images/photo-of-woman-using-dumbbells-3757943.jpg);
}
#builder-man4{
    background-image: url(./images/man-sitting-on-flat-bench-while-holding-two-dumbbells-3490348.jpg);
}
#builder-woman4{
    background-image: url(./images/woman-wearing-white-long-sleeved-shirt-sitting-beside-green-769598.jpg);
}
#builder-woman5{
    background-image: url(./images/woman-in-blue-active-wear-lifting-dumbbells-3775527.jpg);
}
#builder-man5{
    background-image: url(./images/man-in-white-crew-neck-t-shirt-holding-black-dumbbell-3588479.jpg);
}
#builder-woman6{
    background-image: url(./images/active-adult-biceps-body-416809.jpg);
}
#our-trainers{
    margin-top: 250px;
    padding-top: 30px;
    position: relative;
}
.our--text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 100px;
}
.our--text .red-hr{
    margin-bottom: 2em;
}
.trainers-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    grid-template-rows: 24em 24em;
}
.trainer{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.trainer-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.trainer-name{
    width: 80%;
}
.trainer-name h4{
    color: var(--main-color);
    margin-bottom: 10px;
}
.trainer-name .profession{
    font-size: 0.9em;
}
.trainer-name hr{
    color: var(--paragraphs-color);
    margin: 15px 0;
}
.trainer-name p:last-of-type{
    margin-bottom: 35px;
}
#njn-guy{
    background-image: url(./images/njn\ guy.png);
}
#ilona{
    background-image: url(./images/Gymnast.png);
}
#john{
    background-image: url(./images/fitness-trainer.png);
}
#our-trainers > img{
    position: absolute;
    bottom: 24em;
    transform: translateY(100%);
    z-index: -111111111111111;
    left: -14.1%; /*not wellcalculated*/
    right: -14.1%; /*not wellcalculated*/
    width: calc(100% + 2 * 14.1%); /*not wellcalculated*/
}

#our-pricing{
    margin-top: 450px;
    padding-top: 50px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
    background-color: #fff;
    border-radius: 20px;
    transition: all 0.3s;
    border: 1px solid var(--paragraphs-color);
    padding: 10px 15px;
    margin: 0 10px;
    cursor: pointer;
}

.switch::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 0 2px 0 1px;
    background-color: #16D800;
    top: 1.5px;
    left: 1px;
    transition: all 0.3s;
}
  
input[type='checkbox']:checked + .switch::after {
    transform: translateX(19px);
}  
.offscreen {
    position: absolute;
    left: -9999px;
}
#our-pricing .our--text div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.payment{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.payment-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 31%;
    height: 35em;
    border-radius: 10px;
    border: 2px solid #CCCCCC;
}
.payment-item hr{
    width: 70%;
    background-color: #ccc;
    margin: 25px 0;
    border: 0.5px solid #ccc;
}
.payment-item h4{
    font-size: 1.1em;
    margin-bottom: 15px;
}
.payment-item img{
    width: 150px;
    margin-bottom: 50px;
}
.payment-item h4:last-of-type{
    margin: 5px 0 80px 0;
}
.special-payment{
    border: 3px solid var(--main-color);
}
.grey-button{
    background: transparent;
    border: 1px solid #000;
    color: var(--paragraphs-color);
}
.grey-button:hover{
    background-color: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
}
#testimonials{
    margin-top: 8em;
}
#testimonials div>ul.filter-bar{
    display: inline-flex;
    width: 11%;
}
section.testimonial-slider{
    grid-template-columns: repeat(10, 28vw);
    grid-column-gap: 3vw;
    grid-template-rows: 20rem;
    position: relative;
}
.testimonial_item{
    box-shadow:0px 2px 10px #ccc;
    border: #cccccc;
    border-radius: 10px;
    padding: 11% 5% 12% 12%;
    position: relative;
    background-color: white;
}
.testimonial_item .stars{
    margin: 20px 0;
}
.testimonial_item > img{
    width: 5em;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}
.testimonial_item > p{
    font-size: 0.8em;
    color: var(--paragraphs-color);
    margin: 20px 0 50px 0;
    line-height: 2;
}
.testimonial_item--info div h4{
    margin-bottom: 5px;
} 
.testimonial_item .stars img{
    width: 1em;
    margin-right: 0.2em;
}
.testimonial_item--info div{
    float: left;
}
.testimonial_item--info img{
    float: right;
    width: 6em;
}
.testimonial_item--info img::after{
    clear: both;
}
.testimonial_item--info div{
    margin-top: 20px;
}
#testimonial-shumepikeshi{
    position: absolute;
    width: 20em;
    height: auto;
    left: -3em;
    z-index: -1111110000000001;
    bottom: -3em;
}
#testimonial-bg{
    position: absolute;
    right: -1em;
    top: -20em;
    width: 40%;
    height: auto;
    z-index: -111111111111111111;
}
footer{
    margin-top: 16.5em;
    width: 100%; 
    position: relative;
    height: 37em;
    overflow: hidden;
}
.footer-container{
    width: var(--container);
    left: calc((100% - var(--container)) / 2);
    margin-top: 100px;
    position: absolute;
    bottom: 0;
}
.top-footer{
    display: flex;
}
.logo-div-footer{
    width: 50%;
    font-size: 0.9em;
    font-weight: normal;
    line-height: 1.7;
    margin-right: auto;
    margin-right: 2em;
}
#footer-logo img{
    width: 7em;
}
.logo-div-footer p{
    color: white;
    margin: 10px 0 20px 0;
}
.social-div_footer i{
    margin-right: 5px;
}
.foots-info{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#getInTouch{
    width: 100%;
}


.bott-footer{
    margin-top: 3em;
    font-weight: normal;
    color: white;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid rgba(255,255,255,0.3) 1px;
}
#foot-bg--shape{
    position: absolute;
    left: -108em;
    right: -35em;
    top: -82em;
    width: 3500px;
    height: auto;
    z-index: -1111111111111111111;
}