:root {
  --main-color: #f92524;
  --headings-color: #181818;
  --paragraphs-color: #7a839e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
